header{
    display: flex;
    width: 100%;
    min-width: 320px;
    min-height: 10vw; 
    background-color: blueviolet;   
}

.navegacao{
    display: normal;
    background-color: brown;
    width: 60%;
    margin: 0 auto;
}

nav.menu{
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;

}

button.item-menu{
    background-color: aquamarine;
    border: 2px;
    border-radius: 8px;
    width: 10%;
    height: 40%;
}